@(tables:Seq[Tables], nomResto:String)

@main("Welcome to tables") {
    <div class="container" id="contenu_tables" >
        <table class="table" id="tab">
            <tr>
                <td>Numero</td>
                <td>Suprrime Table</td>
            </tr>
            @for(table <- tables){
                <tr>
                    <td>@table.numero</td>
                    <td><button type="button" class="btn btn-danger">Supprimer</button></td>
                </tr>
            }
        </table>

        <form method="post" action="/addTable?nomResto=@nomResto">
            <table class="addtable" id="addtab">
                <tr>
                    <td>Numero</td>
                    <td><input type="text" value="" name="addnumero"> </td>
                </tr>
                <tr>
                    <td> <button class="btn btn-success">submit</button> </td>
                </tr>
            </table>
        </form>
    </div>
}